# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# SQLite database or other local DBs
*.db
*.sqlite3

# VS Code settings
.vscode/

# Test & coverage files
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Logs
*.log

# OS junk files
.DS_Store
Thumbs.db

# Python dependency files
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
